
.primary-image{
    text-align: center;
}

.collection-data{
    margin-top : 50px;
    margin-bottom : 100px;

    .provenance{
        line-height: 1.5em;
    }

    .collection-info{
        margin-top: 50px;
    }
}

