
.primary-image{
    text-align: center;
}

.publication-data{
    margin-top : 50px;
    
    .title{
        line-height: 1.5em;
    }

    .publication-info{
        margin-top: 50px;
    }

    .publication-year{
        margin-bottom: 50px;
    }
}

