<div class="shop-img">

</div>


<div class="row text-center shop-details">
  <h2 class=""> Shop Harvard Art Museums </h2>
  <h4 class=""> <strong> Open 10am – 5pm </strong> </h4>
  <h4 class="address"> 32 Quincy Street, <br/> Cambridge, <br/> MA, 02138 (617) 495-7066 </h4>

  <h4>
    Visit our shop, located just off the Calderwood Courtyard, to find an interesting read or a one-of-a-kind gift. We offer
    a carefully curated selection of museum publications and books on a wide range of subjects pertinent to our mission,
    special exhibitions, and permanent collections. You will also find an assortment of children’s books, gift items for
    the home or office, jewelry, and textiles. Members receive a 10% discount on most purchases. Proceeds from merchandise
    sold at the shop benefit the museums, helping support programs and operations.
  </h4>

  <h4> 
    Our online ordering system is currently unavailable.
    <br/> <br/>
    To place an order, please call (617) 495-7066
  </h4>
</div>