<div class="container sign-up">

  <div class="col-md-6 logo-section">
    <div class="sign-up-splash"> </div>
  </div>
  <div class="col-md-6 text-center sign-up-section">

    <div class="form-container">
      

      <form class="sign-up-form" #formData='ngForm' autocomplete="off" >
        <!--<h3> Sign Up </h3>-->
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="text" #email name="email" class="form-control" [(ngModel)]="user.email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" autocomplete="off" required>
          <small id="emailHelp" class="emailHelp form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" [(ngModel)]="user.password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off" required>
        </div>
        <button type="button" class="sign-up-btn" (click)="submitSignUpForm(formData)" [disabled]="!formData.valid" > Create my account </button>
      </form>
      <a routerLink="/login" id="goback" class="sign-up-btn">Go back</a>
    </div>
  </div>


</div>