$assetPath : "../../../../assets/images";


.sign-up-section{
    margin-top : 100px;
}

.sign-up{
    display: flex;
    align-items: center;
    padding: 0px;
}

.logo-section{
        padding: 0px;
}

.logo-section,.sign-up-section{
    margin-top : 25px;
}

.logo{
    background: url(#{$assetPath}/HAM.png) no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-bottom : 50px;
}

.google-logo{
    background: url(#{$assetPath}/google2.0.0.jpg) no-repeat;
    background-size: cover;
    height: 100px;
    width: 100%;
    margin-bottom : 50px;
}

.sign-up-splash{
    background: url(#{$assetPath}/autumn-studio-394136.jpg) no-repeat center;
    background-size: cover;
    height: 600px;
    width: 100%;
    margin-bottom : 50px;
}

.sign-up-btn{
    margin: 30px 0;
    height: 50px;
    background: white;
    color: #333;
    padding: 15px 30px;
    border: 1px solid #333;
    min-width: 300px;
}

.emailHelp{
    margin-top : 15px;
}


.form-control{
    height: 50px;
    border-radius: 0;
    text-align: center;
}

.or{
    margin: 30px 0;
}

.sign-up-form{
    padding: 30px;
}


@media only screen and (max-width : 768px) {
    .sign-up{
        display: block;
    }
}